network-timeout=300000
fetch-retries=3
fetch-retry-mintimeout=15000
fetch-retry-maxtimeout=60000
loglevel=error
progress=false
fund=false
audit=false
update-notifier=false
cache-min=3600
prefer-offline=true 